body {
    background-image: url(pape.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    height:50px;
    width:130px;
    float:right;
    margin: 5px 55px 5px 0px;
}

.header {
    width: 10px;
    height:40px;
    margin:0 auto;
    padding: 13px 150% 3px 10%;
   align-items:center;
    display:block;
    align-content: center;
}

.search {
   
    height: 37px;
    width: 45px;
  
 
}

/* 올려주세요 버튼 */
#mydropdown1{

height:170px;
width:260px;


}


#searchbtn{
    position: relative;
    display:inline-block;
    background:rgba(0,0,0,0);
    border: 0px solid white;
    cursor: pointer;
      margin-left: 50px;

}

.dropbtn {
    
    position: relative;
    display:inline-block;
    background:rgba(0,0,0,0);
    border: 0px solid white;
    cursor: pointer;
    
}

.plus { 

    height:36px;
    width:42px;
 
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position:fixed;
    align-items: center;
    display: inline-block;
    z-index:1;

}

/* Dropdown Content (Hidden by Default) */
 .dropdown-content {
    height:220px;
    width:260px;
    align-items: center;
    display: none;
    background-color: rgba(220,238,243,0.5);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin:0 auto;
    padding:30px 0px 5px 40px;
    z-index: 1;
    float:center;
}

.submit{
    margin-left: 100px

}
/* 올려주세요 버튼에 hover 되었을 때, dropdown-content 보여주기 */
.dropdown:hover .dropdown-content {
    display:block;
    z-index: 1;
    padding-right: 50px

}

.dropdown:hover .dropbtn {
    background-color: #ccf2fc;
    z-index: 1;
}

.dropdown:hover #searchbtn {
    background-color: #ccf2fc;
    z-index: 1;


}

.dropdown-content{
     border-radius: 20px;
     z-index: 1;
}


section > label{
 
}

label > a {
      color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}

section > label :hover { /* 탭의 라벨에 마우스를 올리면 배경색 - 밝은 회색 */
  background-color: #ccf2fc;  
  border-radius: 30px;
}


/* target이 되면 보여주고 target이 안 되면 숨기는 기능입니다. */

.label{
    height:50px;
    width:50px;

}

.time1 { 
    cursor: pointer; }

.time1 .time1-icon  { 
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(./icon/time1.png) left center no-repeat;
    vertical-align: middle;
    transition-duration: .3s; }

.time1 input[type=checkbox] {
    display: none; 
}

.time1 input[type=checkbox]:checked + .time1-icon{
    background-image: url(./icon/selecttime1.png); }

.time2 { 
    cursor: pointer; }

.time2 .time2-icon  { 
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(./icon/time2.png) left center no-repeat;
    vertical-align: middle;
    transition-duration: .3s; }

.time2 input[type=checkbox] {
    display: none; 
}

.time2 input[type=checkbox]:checked + .time2-icon{
    background-image: url(./icon/selecttime2.png); }

.time3 { 
    cursor: pointer; }

.time3 .time3-icon  { 
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(./icon/time3.png) left center no-repeat;
    vertical-align: middle;
    transition-duration: .3s; }

.time3 input[type=checkbox] {
    display: none; 
}

.time3 input[type=checkbox]:checked + .time3-icon{
    background-image: url(./icon/selecttime3.png); }

.time4 { 
    cursor: pointer; }

.time4 .time4-icon  { 
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(./icon/time4.png) left center no-repeat;
    vertical-align: middle;
    transition-duration: .3s; }

.time4 input[type=checkbox] {
    display: none; 
}

.time4 input[type=checkbox]:checked + .time4-icon{
    background-image: url(./icon/selecttime4.png); }



.surprised { 
    cursor: pointer; }

.surprised .surprised-icon  { 
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(./icon/surprised.png) left center no-repeat;
    vertical-align: middle;
    transition-duration: .3s; }

.surprised input[type=checkbox] {
    display: none; 
}

.surprised input[type=checkbox]:checked + .surprised-icon{
    background-image: url(./icon/selectsurprised.png); }

.happy { 
    cursor: pointer; }

.happy .happy-icon  { 
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(./icon/happy.png) left center no-repeat;
    vertical-align: middle;
    transition-duration: .3s; }

.happy input[type=checkbox] {
    display: none; 
}

.happy input[type=checkbox]:checked + .happy-icon{
    background-image: url(./icon/selecthappy.png); }

.tired { 
    cursor: pointer; }

.tired .tired-icon  { 
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(./icon/tired.png) left center no-repeat;
    vertical-align: middle;
    transition-duration: .3s; }

.tired input[type=checkbox] {
    display: none; 
}

.tired input[type=checkbox]:checked + .tired-icon{
    background-image: url(./icon/selecttired.png); }

.sad { 
    cursor: pointer; }

.sad .sad-icon  { 
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(./icon/sad.png) left center no-repeat;
    vertical-align: middle;
    transition-duration: .3s; }

.sad input[type=checkbox] {
    display: none; 
}

.sad input[type=checkbox]:checked + .sad-icon{
    background-image: url(./icon/selectsad.png); }


/* target이 되면 보여주고 target이 안 되면 숨기는 기능입니다. */
.tab_item {
    width: 300px;
    margin: auto;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-right: -20px;
}
.tab_item:target {
    display:block;
}

.tab_item:not(:target) {
    display:none;
}

.button{
    float:right;
}


#location{
    float:center;
    padding:5px;
}

/*location select box*/
select {
    display: inline-block;
    background-color: #fff;
    margin-left: 0;
    border: solid 1px #BBC5CE;
    padding: 5px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 120px;
    align-content: center;

}

.locationbox {
    margin: auto;
    width: 300px;
    align-items: middle;
   /* align-content: center;*/
}

dd {
    margin: auto;
}

.submit {
    border: 1px black solid;
    margin-bottom: 10px;
    align-self: center;
}

.photosBox {
    display:relative;
    text-align: center;
    margin: 5px auto;
    padding: 20px 20px 20px 20px;
    height: auto;
}

div div {
    display: inline-block;
    margin: 0 0 20px -2px;
}


/* 각도 조정*/

.wrapper1 {
    transform: rotate(5deg);
    /*
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
*/
}

.wrapper2 {
    transform: rotate(-4deg);
}

.wrapper3 {
    transform: rotate(4deg);
}

.wrapper4 {
    transform: rotate(0deg);
}

.wrapper5 {
    transform: rotate(-6deg);
}

.postit {
    position: relative;
    width: 200px;
    height: 150px;
    border-radius: 0 0 120px 120px / 0 0 6px 6px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.postit:before,
.postit:after {
    box-shadow: 0 15px 10px rgba(0, 0, 0, 4);
    -ms-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    /* IE 9 */
    -webkit-transform: box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    /* Chrome, Safari, Opera */
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    /* Mozilla-based */
    transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 10%;
    left: 2%;
    width: 48%;
    height: 20%;
}

.postit:after {
    transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    right: 2%;
    left: auto;
}


/* 이미지 삽입 */

.postit_img1 {
    width: 100%;
    height: 100%;
    background-image: url(./sky_image/sky1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postit_img2 {
    width: 100%;
    height: 100%;
    background-image: url(./sky_image/sky2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postit_img3 {
    width: 100%;
    height: 100%;
    background-image: url(./sky_image/sky3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postit_img4 {
    width: 100%;
    height: 100%;
    background-image: url(./sky_image/sky4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postit_img5 {
    width: 100%;
    height: 100%;
    background-image: url(./sky_image/sky5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postit_img6 {
    width: 100%;
    height: 100%;
    background-image: url(./sky_image/sky6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postit_img7 {
    width: 100%;
    height: 100%;
    background-image: url(./sky_image/sky7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postit_img8 {
    width: 100%;
    height: 100%;
    background-image: url(./sky_image/sky8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postit_img9 {
    width: 100%;
    height: 100%;
    background-image: url(./sky_image/sky9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postit_img10 {
    width: 100%;
    height: 100%;
    background-image: url(./sky_image/sky10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postit_img11 {
    width: 100%;
    height: 100%;
    background-image: url(./sky_image/sky11.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postit_img12 {
    width: 100%;
    height: 100%;
    background-image: url(./sky_image/sky12.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
