body {
    background-image: url(pape.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    width: 100%;
    height: auto;
    padding-left: 10px;
}


section>label {
    padding: 5px;
    background: transparent;    /* 탭의 라벨 배경색 - 투명 */
    border-radius: 20px;
}

label>a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}

section>label:hover {
    /* 탭의 라벨에 마우스를 올리면 배경색 - 밝은 회색 */
    background: #fff;
}


/* target이 되면 보여주고 target이 안 되면 숨기는 기능입니다. */

.tab_item {
    width: 300px;
}

.tab_item:target {
    display: block;
}

.tab_item:not(:target) {
    display: none;
}

.button {
    float: right;
}


/*location select box*/

select {
    display: inline-block;
    background-color: #fff;
    margin-left: 0;
    border: solid 1px #BBC5CE;
    padding: 5px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 120px;
    align-content: center;
}

.locationbox {
    width: 300px;
    align-items: middle;
    /* align-content: center;*/
}

dd {
    margin: auto;
}

.photosBox {
    text-align: center;
    margin: 5px auto;
    padding: 20px 20px 20px 20px;
    height: auto;
}

div div {
    display: inline-block;
    margin: 0 0 20px -2px;
}


/* 각도 조정*/

.wrapper1 {
    transform: rotate(5deg);
    /*
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
*/
}

.wrapper2 {
    transform: rotate(-4deg);
}

.wrapper3 {
    transform: rotate(4deg);
}

.wrapper4 {
    transform: rotate(0deg);
}

.wrapper5 {
    transform: rotate(-6deg);
}

.postit {
    position: relative;
    width: 200px;
    height: 150px;
    border-radius: 0 0 120px 120px / 0 0 6px 6px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.postit:before,
.postit:after {
    box-shadow: 0 15px 10px rgba(0, 0, 0, 4);
    -ms-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    /* IE 9 */
    -webkit-transform: box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    /* Chrome, Safari, Opera */
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    /* Mozilla-based */
    transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 10%;
    left: 2%;
    width: 48%;
    height: 20%;
}

.postit:after {
    transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    right: 2%;
    left: auto;
}


/* 이미지 삽입 */

.postit_img1 {
    width: 100%;
    height: 100%;
    background-image: url(/sky_image/sky1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postit_img2 {
    width: 100%;
    height: 100%;
    background-image: url(/sky_image/sky2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postit_img3 {
    width: 100%;
    height: 100%;
    background-image: url(/sky_image/sky3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postit_img4 {
    width: 100%;
    height: 100%;
    background-image: url(/sky_image/sky4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postit_img5 {
    width: 100%;
    height: 100%;
    background-image: url(/sky_image/sky5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postit_img6 {
    width: 100%;
    height: 100%;
    background-image: url(/sky_image/sky6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postit_img7 {
    width: 100%;
    height: 100%;
    background-image: url(/sky_image/sky7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postit_img8 {
    width: 100%;
    height: 100%;
    background-image: url(/sky_image/sky8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postit_img9 {
    width: 100%;
    height: 100%;
    background-image: url(/sky_image/sky9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postit_img10 {
    width: 100%;
    height: 100%;
    background-image: url(/sky_image/sky10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postit_img11 {
    width: 100%;
    height: 100%;
    background-image: url(/sky_image/sky11.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.postit_img12 {
    width: 100%;
    height: 100%;
    background-image: url(/sky_image/sky12.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
